# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\highers\BigCareerFest-Workshop-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
